{{define "navbar"}}

<header class="top-header">

    <div class="logo">
        LifeMetrics
    </div>

    <nav class="top-menu">

        <a href="/"
           class="menu-item {{if eq .ActivePage "home"}}active{{end}}">
            Home
        </a>

        <a href="/meals"
           class="menu-item {{if eq .ActivePage "food"}}active{{end}}">
            Food
        </a>

        <a href="/workout"
           class="menu-item {{if eq .ActivePage "workout"}}active{{end}}">
            Workout
        </a>

    </nav>

    <div class="header-actions">

    <button id="themeToggle"

            class="theme-toggle">

        🌙 Dark

    </button>

    <button id="logoutButton"

            class="logout-button"

            type="button">

        Logout

    </button>

</div>

</header>

{{end}}
