    {{define "scripts"}}

<script src="/static/js/api.js"></script>

<script src="/static/js/services/foodsService.js"></script>
<script src="/static/js/services/mealsService.js"></script>
<script src="/static/js/services/goalsService.js"></script>

<script src="/static/js/components/mealCard.js"></script>
<script src="/static/js/components/progressBar.js"></script>

<script src="/static/js/pages/foods.js"></script>
<script src="/static/js/pages/meals.js"></script>
<script src="/static/js/pages/goals.js"></script>
<script src="/static/js/pages/today.js"></script>

<script src="/static/js/app.js"></script>

{{end}}