body{
    margin:0;
    font-family: Arial;
}

.layout{
    display:flex;
    height:100vh;
}


/* LEFT */
.sidebar{
    width:220px;
    background:#1b2735;
    color:white;
    padding:20px;
}

.sidebar h2{
    margin-bottom:30px;
}


.menu-item{
    padding:12px;
    margin-bottom:10px;
    background:#374151;
    cursor:pointer;
    border-radius:8px;
}

.menu-item:hover{
    background:#4b5563;
}



/* RIGHT */
.content{
    flex:1;
    background:#f3f4f6;
    padding:24px 30px;
}

iframe{
    width:100%;
    height:100%;
    border:none;
}

/* Submenu container */

.submenu{
    margin-left:8px;
    margin-bottom:10px;
}


/* Submenu items */

.submenu-item{
    padding:10px;
    border-radius:6px;
    cursor:pointer;
    color:white;
    margin-bottom:6px;
}


/* hover effect */

.submenu-item:hover{
    background:#374151;
}


/* ACTIVE submenu */

.submenu-item.active{
    color:#726e3d;        /* light yellow text */
    background:#111827;   /* darker highlight */
    font-weight:600;
}


h2{
    margin:0;
} 